/* --------------------------------------
=========================================
RESPONSIVE FIXES
=========================================
-----------------------------------------*/

 @media (max-width: 991px) {
     
    .pull-right, 
    .pull-left {
	float: none !important;
	margin: auto;
    }
    .text-left,
    .text-right {
	
	text-align: center;
    }
    .feature-list-1 {
	margin-top: 0;
    }
    .feature-list-1 li .icon-container {
	float: left !important;
    }
    .feature-list-1 li p {
	text-align: left !important;
    }
    .wrapper .vertical-registration-form {
	margin-top: 10px;  
    }
    .intro {
	text-align: left !important
    }
    .intro-section {
	margin-bottom: 50px;
	margin-top: 0;
    }
 }
 
 
@media (min-width: 768px) and (max-width: 991px) { 
    
    html {
        font-size: 90%;
    }
    .feature-list-1 {
        float: left;
        font-size: 16px;
        line-height: 25px;
    }
    .feature-list-1 li p {
        font-size: 16px;
        line-height: 25px;
    }
    
}


@media(max-width:767px) {
    
    html {
	    font-size: 80%;
    }
    .wrapper {
	    background-attachment: scroll !important;
    }
    .intro {
	    text-align: center !important;
    }
    .feature-list-1 {
	    width: 80%;
	    margin: auto;
    }
    .feature-list-1 li p {
	    font-size: 16px;
	    line-height: 25px;
    }
    .vertical-registration-form {
	    max-width: 80%;
    }
}
 
 
@media(max-width:480px) {
    
    html {
	    font-size: 65%;
    }
    .wrapper {
	    margin-top: 0;
    }
    body {
	    font-size: 13px;
	    line-height: 21px;
    }    
    .feature-list-1 {
	    width: 80%;
    }
    .resDetailTbl {
	max-width: 50%;
    }
    .vertical-registration-form {
	    max-width: 100%;
    }
    .standard-button {
	    font-size: 13px;
	    min-width: 100px;
	    padding: 11px 20px 11px 20px;
    }
}