
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700);

html {
	font-size: 100%;
}

body {
	background: url(../images/bg-image-1.jpg) no-repeat center top fixed;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #727272;
	line-height: 25px;
	text-align: center;
	overflow-x: hidden !important;
	margin: auto !important;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.status {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin: -20px 0 0 -20px;
}

strong {
	font-weight: 700;
}

@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,
ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}

h1 {
	font-size: 2.813rem;
	line-height: 3.75rem;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #ea8825;
}

a:hover {
	text-decoration: underline;
	color: #ffffff;
}

a:focus {
	outline: inherit;
	color: inherit;
}

.resDetailTbl {
	width: 100%;
}

.resDetailTbl th {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	padding-top: 22px;
	padding-bottom: 10px;
}

.resDetailTbl td {
	color: #ffffff;
	font-size: 13px;
}

.standard-button {
	background: #ea8825;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 15px 30px;
	border: 0;
	margin: 5px;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}
.standard-button:hover {
  color: #ffffff;
  background: #d87919;
}
.secondary-button:hover {
  color: #ea8825;
  border-color: #ea8825;
}

.color-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.wrapper {
	margin-top: 30px;
}

.intro-section {
	margin-top: 30px;
}

.intro {
	color: #ffffff;
}

.feature-list-1 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.feature-list-1 li {
	margin-top: 25px;
	margin-bottom: 25px;
}

.feature-list-1 li .icon-container {
	background: #ea8825;
	width: 32px;
	height: 32px;
	border-radius: 3px;
	color: #ffffff;
	line-height: 32px;
	margin-right: 15px;
	margin-top: 8px;
}

.feature-list-1 li p {
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	line-height: 30px;
}

.vertical-registration-form, .vertical-search-form {
	background: rgba(0, 0, 0, 0.6);
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	max-width: 390px;
	min-height: 555px;
	margin: auto;
	padding-bottom: 30px;
	
}

.vertical-registration-form h2, .vertical-search-form h2 {
	color: #ffffff;
	text-transform: uppercase;
	padding-top:20px;
	padding-bottom: 0;
	font-size: 22px;
}

.vertical-registration-form .input-box, .vertical-search-form .input-box {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 45px;
	background: #000000;
	border-radius: 3px;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
	border-top: 1px solid rgba(234, 136, 37, 0.4);
	border-bottom: 1px solid rgba(234, 136, 37, 0.4);
	border-right: 1px solid rgba(234, 136, 37, 0.4);
	border-left: 3px solid #ea8825;
	box-shadow: inherit;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.vertical-registration-form .input-box:focus, .vertical-search-form .input-box:focus,
.vertical-registration-form .input-box:active, .vertical-search-form .input-box:active {
  border-color: #ea8825;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}